<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head />
<h:body>
	<div id="cabecalho">
		<h:graphicImage library="img" name="logo.png" />
		<h:form>
			<p:themeSwitcher value="#{temaBean.tema}"
				style="position: absolute; right: 10px;">
				<f:selectItems value="#{temaBean.temas}" />
				<f:ajax />
			</p:themeSwitcher>
		</h:form>
		<h1>
			<ui:insert name="titulo"></ui:insert>
		</h1>
		<h:form>
			<p:menubar>
				<p:submenu label="Cadastros">
					<p:menuitem value="Autores" action="autor" />
					<p:separator />
					<p:menuitem value="Livro" action="livro" />
				</p:submenu>
			</p:menubar>
		</h:form>
		<br />
	</div>

	<div id="conteudo">
		<ui:insert name="conteudo">
		</ui:insert>
	</div>

	<div id="rodape">
		copyright 2012
		<ui:insert name="rodape">
		</ui:insert>
	</div>
</h:body>
</html>