<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="_template.xhtml">
	<ui:define name="titulo">
		Novo Autor
	</ui:define>

	<ui:define name="conteudo">
		<h:form id="autor">
			<p:growl autoUpdate="true"/>
			<p:fieldset legend="Dados do Autor">
				<h:panelGrid columns="3">
					<h:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{autorBean.autor.nome}"
						required="true">
						<f:validateLength minimum="5" />
					</p:inputText>
					<p:message id="message" for="nome" />
					<p:commandButton value="Gravar" action="#{autorBean.gravar}" update="message"/>
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
	<ui:define name="rodape">
		Autor
	</ui:define>
</ui:composition>

</html>